
<!DOCTYPE html>

<html>

	<head>

        <title>Clood to-do app</title>

		<style>
			.centered {
				align-content: center;
				align-items: center;
			}
		</style>
	</head>


	<body>

		
		<nav>
		
		
			<a href = "{{ url_for('signin') }}">
			
				<button>Sign In</button>
		
			</a>
		
			<a href = "{{ url_for('signup') }}">
			
				<button>Sign Up</button>
		
			</a>
		
		</nav>
		
		<div class="centered">
			
		
			<h1>Todo App</h1>
			<p>By Anthony Alvarez</p>
			<p>Made with Python and Flask, hosted on AWS</p>
		
		
		</div>

	</body>


</html>




