
<!DOCTYPE html>

<html>

	<head>


			<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

			<!-- <script>

				async function getHeartBeat() {
					console.log("inside script");
					var res = await fetch("/heartbeat");
					res = await res.text();

					console.log(`Hello there ${res}`);
				}

				getHeartBeat().then(() => { console.log("Wahoo"); });

				heart_beat().them(() => { console.log("finished"); });

				
			</script> -->

	</head>


	<body onload="initialize()">

		
		<nav>
		
		
			<a href = "{{ url_for('signin') }}">
			
				<button>Sign In</button>
		
			</a>
		
			<a href = "{{ url_for('signup') }}">
			
				<button>Sign Up</button>
		
			</a>
		
		</nav>
		
		<div class="centered">
			
		
			<h1>Clood to do App</h1>
			<p>By Anthony Alvarez</p>
			<p>Made with Python and Flask</p>
		
		
		</div>


		<div id="beat">


		</div>

		<div id="allusers"></div>

	</body>


</html>




